html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background: #fff;
}

header {
	width: 70%;
	position: absolute;
	top: 30px;
	left: 94px;
}


header nav ul li {
	display: block;
	float: left;
	margin-right: 60px;
	margin-top: 2px;
}

header nav ul li:first-child {
	margin-right: 150px;
}

header nav ul li:hover {
	transform: scale(1.05);
}