
header {
	position: fixed;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	/*margin: 0 auto;*/
	padding: 10px 0;
	z-index: 1;
}

header .logo {
	width: 45%;
	text-align: left;
	padding: 0 0 0 150px;
	float: left;
	z-index: 1;
}

header .logo a img {
	margin-top: -12px;
	width: 80px;
	vertical-align: middle;
	z-index: 1;
}

header nav {
	width: 47%;
	float: left;
	text-align: center;
	z-index: 1;
	margin-top: -2px;
	margin-left: 105px;
	margin-bottom: 0px;
}

header nav ul li {
	display: inline-block;
	width: 21%;
	padding-top: 2%;
}

header nav ul li.lastmenu {
	display: inline-block;
	width: 20%;
	padding-left: 30px;
}

header nav ul li a {
	color: black;
	transition: all 0.3s;
}

header nav ul li:hover a {
	color: #00c5b4;
	border-bottom: 3px solid #00c5b4;
	padding-bottom: 6px;
}

#wrap {
	width: 1920px;
	height: 12227px;
	position: relative;
}



.page {
	width: 1920px;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}


.motion01 {
	position: absolute;
	left: -142px;
	top: 4850px;
}


.motion012 {
	position: absolute;
	left: 1500px;
	top: 3600px;
}


.motion02 {
	position: absolute;
	left: 342px;
	top: 3440px;
	Z-index: 3;
}

.motion02 > img {
	border: 2px solid #000;
}


.motion03 {
	position: absolute;
	left: -160px;
	top: 7600px;
}


.motion04 {
	position: absolute;
	left: 1600px;
	top: 8450px;
}


.motion05 {
	position: absolute;
	left: -100px;
	top: 9750px;
}

.motion06 {
	position: absolute;
	left: 1625px;
	top: 11250px;
}


.promotion {
	position: absolute;
	left: 160px;
	top: 7730px;
	Z-index: 1;
}





.arrow {
	--active: rgba(000, 000, 000, .9);
	--border: rgba(000, 000, 000, .05);
	display: block;
	position: relative;
	width: 44px;
	height: 44px;
}

/*.arrow.left {
  transform: scaleX(-1);
}*/
.arrow i {
	display: block;
	position: absolute;
	margin: -10px 0 0 -10px;
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
}

.arrow i:before,
.arrow i:after {
	content: "";
	width: 10px;
	height: 2px;
	border-radius: 1px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: var(--active);
	margin: -1px 0 0 -5px;
	display: block;
	transform-origin: 9px 50%;
}

.arrow i:before {
	transform: rotate(-40deg);
}

.arrow i:after {
	transform: rotate(40deg);
}

.arrow:before,
.arrow:after {
	content: "";
	display: block;
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	bottom: 1px;
	border-radius: 50%;
	border: 2px solid var(--border);
}

.arrow svg {
	width: 44px;
	height: 44px;
	display: block;
	position: relative;
	z-index: 1;
	color: var(--active);
	stroke-width: 2px;
	stroke-dashoffset: 126;
	stroke-dasharray: 126 126 0;
	transform: rotate(0deg);
}

.arrow.animate svg {
	-webkit-animation: stroke 1s ease forwards 0.3s;
	animation: stroke 1s ease forwards 0.3s;
}

.arrow.animate i {
	-webkit-animation: arrow 1.6s ease forwards;
	animation: arrow 1.6s ease forwards;
}

.arrow.animate i:before {
	-webkit-animation: arrowUp 1.6s ease forwards;
	animation: arrowUp 1.6s ease forwards;
}

.arrow.animate i:after {
	-webkit-animation: arrowDown 1.6s ease forwards;
	animation: arrowDown 1.6s ease forwards;
}

@-webkit-keyframes stroke {
	52% {
		transform: rotate(-180deg);
		stroke-dashoffset: 0;
	}

	52.1% {
		transform: rotate(-360deg);
		stroke-dashoffset: 0;
	}

	100% {
		transform: rotate(-180deg);
		stroke-dashoffset: 126;
	}
}

@keyframes stroke {
	52% {
		transform: rotate(-180deg);
		stroke-dashoffset: 0;
	}

	52.1% {
		transform: rotate(-360deg);
		stroke-dashoffset: 0;
	}

	100% {
		transform: rotate(-180deg);
		stroke-dashoffset: 126;
	}
}

@-webkit-keyframes arrow {

	0%,
	100% {
		transform: translateX(0);
		opacity: 1;
	}

	23% {
		transform: translateX(17px);
		opacity: 1;
	}

	24%,
	80% {
		transform: translateX(-22px);
		opacity: 0;
	}

	81% {
		opacity: 1;
		transform: translateX(-22px);
	}
}

@keyframes arrow {

	0%,
	100% {
		transform: translateX(0);
		opacity: 1;
	}

	23% {
		transform: translateX(17px);
		opacity: 1;
	}

	24%,
	80% {
		transform: translateX(-22px);
		opacity: 0;
	}

	81% {
		opacity: 1;
		transform: translateX(-22px);
	}
}

@-webkit-keyframes arrowUp {

	0%,
	100% {
		transform: rotate(-40deg) scaleX(1);
	}

	20%,
	80% {
		transform: rotate(0deg) scaleX(0.1);
	}
}

@keyframes arrowUp {

	0%,
	100% {
		transform: rotate(-40deg) scaleX(1);
	}

	20%,
	80% {
		transform: rotate(0deg) scaleX(0.1);
	}
}

@-webkit-keyframes arrowDown {

	0%,
	100% {
		transform: rotate(40deg) scaleX(1);
	}

	20%,
	80% {
		transform: rotate(0deg) scaleX(0.1);
	}
}

@keyframes arrowDown {

	0%,
	100% {
		transform: rotate(40deg) scaleX(1);
	}

	20%,
	80% {
		transform: rotate(0deg) scaleX(0.1);
	}
}

.demo {
	/* display: grid;
  grid-template-columns: repeat(2, 44px);
  grid-gap: 32px;*/
	display: block;
}


.demo a {
	display: block;
	float: left;
}


.demo a.left {
	position: fixed;
	transform: scale(-2.5);
	top: 50%;
	left: 80px;
	margin-top: -30px;
}

.demo a.right {
	position: fixed;
	transform: scale(2.5);
	top: 50%;
	right: 80px;
	margin-top: -30px;
}


html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: inherit;
}

*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

body .dribbble {
	position: fixed;
	display: block;
	right: 24px;
	bottom: 24px;
}

body .dribbble img {
	display: block;
	width: 76px;
}


